<header>
  <div class="logo-company"><strong>ACME</strong> Materials</div>
</header>

<section class="title-app">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Orders</h1>
      </div>
    </div>
  </div>
</section>

<section class="filters">
  <div class="container">
    <div class="row">
      <div class="col-12 panel">
        <div class="row">
          <div class="col-md-2 jobsites-area">
            <small class="small-on-filters">Jobsites</small>
            <div class="btn-group">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Select an option
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li *ngFor="let jobsite of jobsites_list"><a class="dropdown-item" (click)="filter_jobsites(jobsite);" href="#">{{ jobsite }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CONTADOR DE ESTATUS -->
<app-counting-status [ordersCounted]="lista_status"></app-counting-status>

<section class="data-table">
  <div class="container">

      <!-- TABLE -->
        <div class="table-presentation">
          <!-- ROW TITLES (will dissapear on mobile version) -->
          <div class="table-row titles">
            <div class="table-cell">Status</div>
            <div class="table-cell">Order</div>
            <div class="table-cell">Purchase Order</div>
            <div class="table-cell">Product Line</div>
            <div class="table-cell">Quantity</div>
            <div class="table-cell">Date Submitted</div>
            <div class="table-cell">Date Requested</div>
          </div>
          <!-- END ROW TITLES -->

          <!-- CONTENT TABLE -->
          <div class="table-row panel" *ngFor="let order of orders2Show | filter: filteredLocations: 'jobSite'">
            <div class="table-cell" [attr.data-jobsite]="order.jobSite">
              <small>Status</small>
              <span class="status-color"
                    [class.green]="order.status === 'Confirmed'"
                    [class.yellow]="order.status === 'On Hold'"
                    [class.red]="order.status === 'Blocked'"></span> {{ order.status }}
            </div>
            <div class="table-cell">
              <small>Order</small>
              {{ order.order }}
            </div>
            <div class="table-cell important-data">
              <small>Purchase Order</small>
              {{ order.purchaseOrder }}
            </div>
            <div class="table-cell">
              <small>Product Line</small>
              {{ order.productLine }}
            </div>
            <div class="table-cell">
              <small>Quantity</small>
              {{ order.quantity }}
            </div>
            <div class="table-cell">
              <small>Date Submitted</small>
              {{ order.dateSubmitted }}
            </div>
            <div class="table-cell">
              <small>Date Requested</small>
              {{ order.dateRequested }}
            </div>
          </div>
          <!-- END CONTENT TABLE -->
        </div>
        
        <!-- END TABLE -->
  </div>
</section>