<header>
  <div class="logo-company"><strong>ACME</strong> Materials</div>
</header>

<section class="title-app">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Orders</h1>
      </div>
    </div>
  </div>
</section>

<section class="filters">
  <div class="container">
    <div class="row">
      <div class="col-12 panel">
        Filters
      </div>
    </div>
  </div>
</section>

<section class="data-table">
  <div class="container">

      <!-- TABLE -->
        <div class="table-presentation">
          <!-- ROW TITLES (will dissapear on mobile version) -->
          <div class="table-row titles">
            <div class="table-cell">Status</div>
            <div class="table-cell">Order</div>
            <div class="table-cell">Purchase Order</div>
            <div class="table-cell">Product Line</div>
            <div class="table-cell">Quantity</div>
            <div class="table-cell">Date Submitted</div>
            <div class="table-cell">Date Requested</div>
          </div>
          <!-- END ROW TITLES -->
          <!-- CONTENT TABLE -->
          <div class="table-row panel">
            <div class="table-cell">
              <small>Status</small>
              <span class="status-color"></span> Confirmed
            </div>
            <div class="table-cell">
              <small>Order</small>
              99820959
            </div>
            <div class="table-cell">
              <small>Purchase Order</small>
              7755-KJ120/00011
            </div>
            <div class="table-cell">
              <small>Product Line</small>
              Bulk Cement
            </div>
            <div class="table-cell">
              <small>Quantity</small>
              3
            </div>
            <div class="table-cell">
              <small>Date Submitted</small>
              Sep 24, 2020 9:38 AM
            </div>
            <div class="table-cell">
              <small>Date Requested</small>
              Sep 23, 2020 4:56 PM
            </div>
          </div>
          <!-- END CONTENT TABLE -->

          <!-- CONTENT TABLE -->
          <div class="table-row panel">
            <div class="table-cell">
              <small>Status</small>
              <span class="status-color"></span> On Hold
            </div>
            <div class="table-cell">
              <small>Order</small>
              99820959
            </div>
            <div class="table-cell">
              <small>Purchase Order</small>
              7755-KJ120/00011
            </div>
            <div class="table-cell">
              <small>Product Line</small>
              Bulk Cement
            </div>
            <div class="table-cell">
              <small>Quantity</small>
              3
            </div>
            <div class="table-cell">
              <small>Date Submitted</small>
              Sep 24, 2020 9:38 AM
            </div>
            <div class="table-cell">
              <small>Date Requested</small>
              Sep 23, 2020 4:56 PM
            </div>
          </div>
          <!-- END CONTENT TABLE -->

          <!-- CONTENT TABLE -->
          <div class="table-row panel">
            <div class="table-cell">
              <small>Status</small>
              <span class="status-color"></span> Blocked
            </div>
            <div class="table-cell">
              <small>Order</small>
              99820959
            </div>
            <div class="table-cell">
              <small>Purchase Order</small>
              7755-KJ120/00011
            </div>
            <div class="table-cell">
              <small>Product Line</small>
              Bulk Cement
            </div>
            <div class="table-cell">
              <small>Quantity</small>
              3
            </div>
            <div class="table-cell">
              <small>Date Submitted</small>
              Sep 24, 2020 9:38 AM
            </div>
            <div class="table-cell">
              <small>Date Requested</small>
              Sep 23, 2020 4:56 PM
            </div>
          </div>
          <!-- END CONTENT TABLE -->

          <!-- CONTENT TABLE -->
          <div class="table-row panel">
            <div class="table-cell">
              <small>Status</small>
              <span class="status-color"></span> Confirmed
            </div>
            <div class="table-cell">
              <small>Order</small>
              99820959
            </div>
            <div class="table-cell">
              <small>Purchase Order</small>
              7755-KJ120/00011
            </div>
            <div class="table-cell">
              <small>Product Line</small>
              Bulk Cement
            </div>
            <div class="table-cell">
              <small>Quantity</small>
              3
            </div>
            <div class="table-cell">
              <small>Date Submitted</small>
              Sep 24, 2020 9:38 AM
            </div>
            <div class="table-cell">
              <small>Date Requested</small>
              Sep 23, 2020 4:56 PM
            </div>
          </div>
          <!-- END CONTENT TABLE -->
        </div>
        
        <!-- END TABLE -->
  </div>
</section>