header {
    width: 100%;
    background-color: #ffffff;
    padding: 15px 35px;
    border-bottom: 2px solid #EE3D42;

    @media screen and (max-width: 780px){
        padding: 15px 20px;
    }

    .logo-company {
        color: #003876;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 300;

        strong {
            font-weight: 700;
        }
    }
}

section {
    margin-left: 10px;
    margin-right: 10px;

    &.title-app {
        color: #001B3A;
        margin: 30px 0;

        h1 {
            font-size: 30px;
        }
    }

    &.filters {
        margin-bottom: 35px;

        .panel {

            .filters-control {
                font-size: 14px;
                
                @media screen and (min-width: 780px){
                    border-right: 1px solid #ccc;
                }

                &:last-child {
                    @media screen and (min-width: 780px){
                        border-right: none;
                    }
                }

                &.data-views {
                    font-size: 14px;

                    li {
                        position: relative;

                        a {
                            padding-right: 70px;
                        }

                        .add-new {
                            color: var(--blue-decoration);
                            padding-right: 1rem;
                        }
    
                        .trash-button {
                            position: absolute;
                            right: 1rem;
                            color: var(--blue-decoration);
                            background-color: #ffffff;
                            padding: 5px;
                            border-radius: 50%;
                        }
                    }
                }

                &.search-box {
                    padding: 5px 20px;

                    .input-group {
                        position: relative;

                        input {
                            width: 80%;
                            padding: 5px;
                            font-size: 14px;
                            box-shadow: none;
                        }

                        button.btn {
                            right: 0;
                            position: absolute;
                            z-index: 9;
                            font-size: 14px;
                            color: var(--blue-decoration);
                            box-shadow: none;
                        }
                    }
                }

                &.more-filters {
                    a.btn {
                        padding: 10px;
                        color: var(--blue-decoration);
                        border: none;
                        box-shadow: none;
                    }
                }
            }

            .small-on-filters {
                font-size: 9px;
                color: #001B3A;
                display: block;
            }
            .dropdown-toggle {
                font-size: 14px;
                outline: none;
                box-shadow: none;
                color: #212121;
            }

            ul.dropdown-menu {
                border: none;
                border-top: 3px solid var(--blue-decoration);
                box-shadow: rgba(0,0,0,0.1) 0px 3px 6px;
                border-radius: 0;

                li {
                    font-size: 14px;
                    color: #212121;
                }
            }
        }
    }

    &.data-table {
        .container {
            padding: 0;
        }
        .table-presentation {
            display: table;
            width: 100%;

            .table-row {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;

                @media screen and (max-width: 780px){
                    flex-wrap: wrap;
                }
                
                &.panel {
                    margin-bottom: 20px;
                }

                &.titles {
                    @media screen and (max-width: 780px){
                        display: none;
                    }
                }

                .table-cell {
                    display: inline-block;
                    padding: 6px 12px;
                    font-size: 14px;
                    flex-basis: 14%;

                    @media screen and (max-width: 780px){
                        display: inline-block;
                        flex-basis: 50%;
                        padding: 10px;
                    }

                    &.important-data {
                        @media screen and (max-width: 780px){
                            display: block;
                            flex-basis: 100%;
                            font-size: 28px;
                            padding: 10px;
                        }
                    }

                    .no-display {
                        display: none;
                    }

                    .status-color {
                        display: inline-block;
                        width: 15px;
                        height: 10px;
                        background-color: #cccccc;
                        margin-right: 5px;
                        border-radius: 2px;

                        &.green {
                            background-color: var(--green-flag);
                        }

                        &.yellow {
                            background-color: var(--yellow-flag);
                        }

                        &.red {
                            background-color: var(--red-flag);
                        }
                    }

                    small {
                        font-size: 10px;
                        display: block;
                        color: #999999;
                        text-transform: uppercase;

                        @media screen and (min-width: 780px){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

#filtersModal {
    .modal-title {
        color: #001B3A;
    }
    .modal-content {
        border: none;
        border-radius: 0;
        padding: 0 14px;

        form {
            label {
                font-size: 10px;
                color: #001B3A;
            }

            select {
                font-size: 14px;
                box-shadow: none;
            }

            input {
                @extend select;
                box-shadow: none;
            }
        }
    }
    .modal-footer {
        .btn {
            font-size: 14px;
            box-shadow: none;

            &.btn-filters {
                background-color: var(--green-flag);
                color: #ffffff;
                border-radius: 0;
            }

            &.btn-clear {
                color: var(--blue-decoration);
            }
        }
    }
}